#countLabel{
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
  color: hsl(324, 100%, 50%);
}

#btnContainer{
  text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: hsl(275, 45%, 39%);
  background-color: hsl(0, 0%, 3%);
  border-radius: 200px;
  border-width: 0;
  cursor: pointer;  
  transition: background-color 0.25s;
}

body{
  background-color: hsl(60, 31%, 81%);
}
.buttons:hover{
  background-color: hsl(159, 97%, 36%);
}